<ul>
  <% @movies.each do |movie| %>
    <li>
      <strong> <%= movie.title %> </strong>
      <p>Released on: <%= movie.released_on %></p>
      <p>Summary: <%= movie.description %></p>
    </li>
  <% end %>
</ul>