<ul>
  <% @movies.each do |movie| %>
    <li>
      <strong> <%= movie.title %> </strong>
      <p>Released on: <%= release_date(movie) %></p>
      <p>Summary: <%= truncate(movie.description, length: 10, separator: '') %></p>
    </li>
  <% end %>
</ul>